@media screen and (max-width: 1000px) {
  .nav-wrapper {
    padding: 10px 40px;
  }

  .burger-search-wrapper {
    display: flex;
    gap: 10px;
  }

  .nav-buttons-wrapper,
  .login-wrapper p,
  .white-line {
    display: none;
  }

  .main-img-wrapper {
    display: none;
  }

  .contacts-description-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .responsive-nav-wrapper {
    width: 35%;
  }

  .footer-infos-wrapper {
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 10px;
  }

  .footer-infos-wrapper div {
    flex: 0 1 calc(50% - 16px);
  }

  .footer-infos-wrapper div:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav-wrapper {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 500px) {
  .responsive-nav-wrapper {
    width: 55%;
  }

  .favicon-image {
    display: none;
  }

  .nav-title {
    text-align: center;
    font-size: 18px;
  }

  .main-wrapper {
    padding-top: 90px;
  }

  .main-content-wrapper {
    margin-top: 30px;
  }

  .main-title {
    font-size: 36px;
  }

  .contacts-description-wrapper {
    padding: 40px 20px;
  }

  .contacts-desc-title {
    font-size: 26px;
  }

  .contacts-desc-text {
    font-size: 16px;
  }

  .contacts-form-wrapper {
    margin-top: 40px;
  }

  .footer-wrapper,
  .footer-infos-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-info-wrapper *,
  .footer-rights-reserved {
    text-align: center;
    min-width: 200px;
  }
}
